<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Maildev</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header>
      <h1>Maildev</h1>
    </header>

    <div class="list">
      <table>
        <thead>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Subject</th>
            <th>Received</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="email">
      <dl>
        <dt>Received</dt>
        <dd></dd>
        <dt>From</dt>
        <dd></dd>
        <dt>To</dt>
        <dd></dd>
        <dt>Subject</dt>
        <dd></dd>
      </dl>

      <ul class="tabs">
        <li class="selected"><a href="#">Plain Text</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">Source</a></li>
      </ul>

      <div class="content"></div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
